@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$family-sans-serif:"Nunito", sans-serif;

$control-border-width:2px;
$input-border-color:transparent;
$input-shadow:none;


///////global Styles
html, body{
    height: 100%;
}

html{
    background-image: url("assets/bg2.jpg");
    background-size: cover;

    overflow-y: auto !important;
}